<form action="/add" method="post">
  <p>Título</p>
  <input type="text" name="title">
  <p>conteúdo</p>
  <textarea name="content" id="conteudo" cols="30" rows="10"></textarea>
  <br>
  <button type="submit">Enviar post</button>
</form>